<template>

    <style>
        img {
            width: 100%;
            height: 100%;
        }

        .wenzhang {
            border: 1px solid #000000;
            margin: 20px 10px 10px 10px;
            border-radius: 10px;
            padding: 10px;

        }

        .biaoti {
            text-align: center;
            margin: 10px;
            border-bottom: 1px solid #000;
        }

        .toBottom {
            display: inline-block;
            position: relative;
            top: 14px;
            font-size: 12px;

        }

        .hdzx {
            width: 100%;
            height: 45vw;

            text-align: center;

            background: center;
            background-size: cover;

        }
    </style>
    <div id="top">
    <div>
        <div class="swiper-container" data-space-between='10' data-pagination='.swiper-pagination' data-autoplay="1000"
             style="">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <img src="img/banner/lm_banner_1.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/banner/lm_banner_2.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/banner/lm_banner_3.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/banner/lm_banner_4.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/banner/lm_banner_5.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/banner/lm_banner_6.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/banner/lm_banner_7.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/banner/lm_banner_8.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/banner/lm_banner_9.jpg" alt="">
                </div>


            </div>
        </div>

    </div>
    <div class="wenzhang">
        <h3 class="biaoti">周东申简介</h3>

        <p>
            &nbsp &nbsp &nbsp
            &nbsp周东申，山东烟台人，1963年毕业于浙江美术学院（现中国美术学院）版画系。现为山东工艺美术学院教授、中国美术家协会会员、中国版画家协会会员、中国美协藏书票艺委会会员、山东藏书票学会名誉会长、佛罗伦萨国际版画联谊会会员、卡布那里国际版画联谊会会员，中国50-60年代“鲁迅版画奖”获得者（中国版画最高终生奖）。
        </p>
        <p>
            &nbsp &nbsp &nbsp
            &nbsp周东申独度古今中西，博览中国文学、外国文学、圣经故事、希腊神话等名著典籍，在巨大的场域里尽情创作。将自己关于正义与邪恶、纯真与欲望、人类与动物、男与女等本真的生命体悟，融入创作中，蔚然形成了自己版画创作独有的美学趣味。
        </p>
        <p>
            &nbsp &nbsp &nbsp &nbsp他以艺术的形式“与灵魂对歌”。现创作版画作品近200幅，70多幅获得国际、国内大奖，其中金奖作品26幅。作品被近20个国家和地区的世界顶级艺术馆、博物馆收藏。
        </p>
        <p>
            &nbsp &nbsp &nbsp &nbsp周东申长期活跃于国内、国际版画界。是享誉中外的、国内屈指可数的版画、藏书票艺术大家。
        </p>
        <p>
            &nbsp &nbsp &nbsp &nbsp周东申的版画艺术是中欧艺术精髓的合璧；周东申的版画艺术是中国的、是欧洲的、是世界的。
        </p>
    </div>

    <div class="wenzhang">
        <h3 class="biaoti">周东申随笔之从那时到这时</h3>
        <p>
            &nbsp &nbsp &nbsp &nbsp在上学的时候，基础课的老师说没有扎实的素描基础是画不出好画的；创作课的老师说美术家对社会的贡献是看你的创作。我很重视这些道理。
        </p>
        <p>
            &nbsp &nbsp &nbsp &nbsp既然是这样，所以两者均不可偏废。
        </p>
        <p>
            &nbsp &nbsp &nbsp &nbsp但在素描课堂里却是非常苦恼的事，想到的是失败，而不是成功。
        </p>
        <p>
            &nbsp &nbsp &nbsp &nbsp毕业之后，当了一辈子老师，为了提高自己的素描水平，厚着脸皮不怕暴露自己的缺点与学生一起画，从而素描且有所长进。
        </p>
        <p>
            &nbsp &nbsp &nbsp &nbsp对素描如何能与创作结合起来，能为“创作服务”，这也是从前所做不到的。
        </p>
        <p>
            &nbsp &nbsp &nbsp &nbsp自此，对素描的兴趣便越来越浓厚。
        </p>
        <p>
            &nbsp &nbsp &nbsp &nbsp在国外的那些年里，虽然有相机，但只要一出门首先想到的是：带上速写本。平时在家没有任务的时候便构思版画创作，画草稿。
        </p>
        <p>
            &nbsp &nbsp &nbsp &nbsp我曾经也在想，在当今社会很多从事版画的人，多数已改行，选择了能卖大钱的画种，而我却固执地对素描、速写、木刻感兴趣，我是不是不识时务，没有经济头脑？
        </p>
        <p>
            &nbsp &nbsp &nbsp &nbsp对于这一点，我承认的确是那样。
        </p>
        <p>
            &nbsp &nbsp &nbsp &nbsp我自幼做事总是爱从兴趣出发，只要是有兴趣的事，我才会全心全意地把它做好。
        </p>
        <p>
            &nbsp &nbsp &nbsp &nbsp来到晚年的的时候，戴着老花镜还是喜欢刻木刻，没有别的原因，只是因为我爱从兴趣出发、我爱黑与白，我爱版画。
        </p>
    </div>
    </div>
    <div id="newsPageListArtist">
    {{each data[0] as value i}}
    <a href="#f->plugin faxian.news.detail {{value.id}}">
        {{if value.img_path!='' }}
           <div style="background-image: url('{{value.img_path}}');margin-bottom: 5vw" class="hdzx">
        {{/if}}
        {{if value.img_path==''}}
            <div style="background-image: url('img/1-1.png');margin-bottom: 5vw" class="hdzx">
         {{/if}}

            <span style="padding-top: 30vw;display: block">
            <span style="font-size: 20px;color: #fff;display: block;font-weight:bold;overflow: hidden; white-space: nowrap;text-overflow:ellipsis;">
                {{value.title}}
            </span>
            <span style="font-size: 14px;color: #fff;display: block;font-weight:bold">
                {{value.creat_time}}
            </span>
            </span>
        </div>
    </a>
    {{/each}}
    </div>
    <div id="onActivityPageList">

    </div>


    <div id="slidebox" class="slideBox mui-grid-view" style="bottom: 3rem!important;margin-left: -200%">
        <div class="weui-loadmore">
            <i class="weui-loading"></i>
            <span class="weui-loadmore__tips">正在加载</span>
        </div>
    </div>

    <div id="slideboxzu" class="slideBox mui-grid-view" style="bottom: 3rem!important;margin-left: -200%">
        <div class="weui-loadmore">
            <span class="weui-loadmore__tips">暂无数据</span>
        </div>
    </div>


</template>
<script>
    /* $f("df", ___, function(_page,_data) {
     var data = {data: _data};
     var html = template.render(_page, data);
     $("#container").html(html);
     var mySwiper = new Swiper('.swiper-container', {
     speed: 100,
     spaceBetween: 100,
     autoplay: {
     stopOnLastSlide: true
     },
     });
     });*/

    $f("df", ___, function (_page, _data) {
//     $f("plugin.startTest",'__');

         window.history.pushState(null,null,"#f->plugin home 0");
         window.history.pushState(null,null,"#f->plugin other.artist {page:1,pageSize:10,modleName:'artist'}");
        if (typeof(_data) != "object") {
            var _data = eval("(" + _data + ")");
        }
        $f("ajax.get", $f("server", "news/getWxNewsList"), {
            page: 1,
            pageSize: 10,
            modleName: 'artist'
        }, "___.newsList", _page, _data)();
    });
    $f("df", "___.newsList", function (_data, _page, pare) {

        var data = {data: _data};
        var html = template.render(_page, data)
        console.log(data);

        $("#container").html(html);
        var mySwiper = new Swiper('.swiper-container', {
            speed: 100,
            spaceBetween: 100,
            autoplay: {
                stopOnLastSlide: true
            },
        });
        //分页
        $('#oact').addClass('weui-bar__item_on').siblings('.weui-bar__item_on').removeClass('weui-bar__item_on');
        var num = 2;
        var max = _data[1][0].totalCount;
        $("#container").scroll(function () {
            var $this = $(this),
                    viewH = $(this).height(),//可见高度
                    contentH = $(this).get(0).scrollHeight,//内容高度
                    scrollTop = $(this).scrollTop(),//滚动高度
                     topH=$("#top").height();
            //到达底部20px时,加载新内容
            if (contentH - topH - viewH - scrollTop <= 20 && (num*10)<=(max+9)) {
                $('#slidebox').animate({'marginLeft': '0px'}, 10);
                $('#slideboxzu').stop(true).animate({'marginLeft': '-200%'}, 10);
                $f('plugin', 'other.artist.newsPageList', {page: num, pageSize: 10, modleName: 'artist'})

                num++;
            } else {
                $('#slidebox').stop(true).animate({'marginLeft': '-200%'}, 10);
                $('#slideboxzu').animate({'marginLeft': '0px'}, 10);
            }


        });

    });


</script>
